*
!.gitignore
!README.md

!control-code/
!control-code/**
control-code/command_log.txt

!gui/
!gui/**

!bmc/
!bmc/setupfiles/

!hotspotalignment/
!hotspotalignment/jacobian.py
!hotspotalignment/response_matrix.npy
!hotspotalignment/autoalign.py
!hotspotalignment/centroid.py
!hotspotalignment/find_psf.py
!hotspotalignment/findhotspot.py

!fringe_tracking/
!fringe_tracking/**
fringe_tracking/simple-test/data/

!tiptiltgenerator-scexaodm/
!tiptiltgenerator-scexaodm/**


# Being specific because the data for these scans are being stored in these files. Need to disentangle data from code.

!alignment_scans/
!alignment_scans/nullscans/
!alignment_scans/nullscans/scanparameters.json
!alignment_scans/nullscans/nullscan.py
!alignment_scans/nullscans/read_nullscan_fit.py

!alignment_scans/tiptiltscans/
!alignment_scans/tiptiltscans/scanparameters.json
!alignment_scans/tiptiltscans/tiptiltscan.py
!alignment_scans/tiptiltscans/read_tiptiltscan.py

!alignment_scans/xyscans/
!alignment_scans/xyscans/scanparameters.json
!alignment_scans/xyscans/xyscan.py
!alignment_scans/xyscans/read_xyscan.py

!alignment_scans/pitchyawscans/
!alignment_scans/pitchyawscans/scanparameters.json
!alignment_scans/pitchyawscans/pitchyawscan.py
!alignment_scans/pitchyawscans/read_pitchyawscan.py

!alignment_scans/zscans/
!alignment_scans/zscans/scanparameters.json
!alignment_scans/zscans/zscan.py
!alignment_scans/zscans/makegif.py

!alignment_scans/rollscans/
!alignment_scans/rollscans/scanparameters.json
!alignment_scans/rollscans/rollscan.py

!alignment_scans/amplitudescans/
!alignment_scans/amplitudescans/**
alignment_scans/amplitudescans/2025/




